// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main-pink: #C92661;
$lighter-pink: #EA256C;
$title-blue: #3B528F;
$light-blue: #C5F1FF;
$lighter-blue: #E0F8FF;

body {
  background-color: $lighter-blue;
}
