.container-bookings {
  display: flex;
  justify-content: center;
  h2 {
    text-align: center;
  }
  a {
    color: black;
  }
  margin-bottom: 60px;
}

.fa-trash-alt {
  color: #C92661;
  position: absolute;
  top: 28px;
  right: 32px;
}
