.bookingbutton {
  display: inline-block;
  background-color: white;
  margin-left: 590px;
  margin-top: 380px;
  padding: 16px 36px;
  border-radius: 50px;
  color: black;
  text-decoration: underline;
  font-family: Righteous;
  position: absolute;

}

.bookbutton {
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 20px;
  color: black;
  text-decoration: underline;
  font-family: Righteous;
  position: absolute;
 border-style: none
}
.card-category h1{
  display: inline-block;
  color: black;
  border-radius: 50px;
  margin-top: 20px;
  font-family: Ribeye Marrow;

}
.container {
  font-family:righteous;
}
.browsebutton {
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 100px;
  margin-left:226px;
  color: black;
  text-decoration: underline;
  font-family: Righteous;
  position: absolute;
 border-style: none
  }
