// Specific CSS for your home-page
.Homebanner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 200px 0;
  height: 90vh;
}
.Homebanner h1 {
  color: white;
  text-shadow: 0px 0px 2px rgba(0,0,0,4);
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 82px;
  font-size: 60px;
  font-family: "Work Sans";
  // margin-top: 90px;
}

.Homebanner p {
  color: white;
  line-height: 35px;
  letter-spacing: 0.1em;
  font-size: 19px;
  font-family: "Work Sans";
}
.CastleButton {
  // display: inline-block;
  background-color: #c5e5ff;
  font-size: 22px;
  // margin-top: -85px;
  // margin-left: 710px;
  padding: 16px 36px;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  font-family: Righteous;
  // position: absolute;
}

.CastleButton:hover {
  opacity: 1;
  background: #c5e5ff;
  text-decoration: none;
  color: black;
  transition: .2s
}

.container-home {
  display: flex;
}

.home-headings {

}

