.castles-container {
  width: 80vw;
  padding: 16px;
  background-color: white;
  margin: 25px auto;
}

.carousel {
  width: 45%;
  margin: 32px 0 32px 16px;
  img {
    height: 50vh;
    width: 38vw;
    object-fit: cover;
  }
}

.castle_text {
  width: 50%;
  text-align: center;
  position: relative;
  margin: 0 0 16px 16px;
}

.location-rating {
  justify-content: center;
  p {
    margin: 4px 32px;
  }
}

.rooms {
  justify-content: space-around;
}

.description {
  text-align: justify;
  margin: 8px auto;
  width: auto;
  max-width: 30vw;
}

.price {
  margin: 16px auto 32px auto;
  font-size: 22px;
}

