.castles-container {
  width: 80vw;
  padding: 16px;
  background-color: white;
  margin: 25px auto;
}

.carousel {
  width: 45%;
  margin: 32px 0 32px 16px;
  img {
    height: 50vh;
    width: 38vw;
    object-fit: cover;
  }
}

.castle_text {
  width: 50%;
  text-align: center;
  position: relative;
  margin: 0 0 16px 16px;
}

.location-rating {
  justify-content: center;
  p {
    margin: 4px 32px;
  }
}

.rooms {
  justify-content: space-around;
}

.description {
  text-align: justify;
  margin: 8px auto;
  width: auto;
  max-width: 30vw;
}

.price {
  margin: 16px auto 32px auto;
  font-size: 22px;
}

.btn-book {
  background-color: $main-pink;
  color: white;
  font-family: 'Righteous', sans-serif;
  padding: 15px 25px;
  border-radius: 40px;
  margin-top: 50px;
}

.btn-back {
  color: $main-pink;
  font-family: 'Righteous', sans-serif;
  position: absolute;
  bottom: 16px;
  right: 32px;
}

.buttons {
  margin: 32px;
}

.btn-book:hover {
  transition-property: padding;
  transition-duration: 0.3s;
  padding: 18px 28px;
  color: white;
}

.btn-book:hover {
  transition-property: font-size;
  transition-duration: 0.3s;
  font-size: 15px;
  color: $main-pink;
}
