<h2 class="text-align-center">Current Bookings</h2>
<div class="container-bookings">
    <% @bookings.each do |booking| %>
      <h3><%= Castle.find(booking.castle_id).name %></h3>
      <div class="dates">
        <p> Check-in: <%= booking.check_in_date %> </p>
        <p> Check-out: <%= booking.check_out_date %> </p>
      </div>
    <%end%>
</div>





