
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'eltz02.jpg' %>);">
  <div class="container">
    <h1>Live like Royalty</h1>
    <p><em>The castles, mansions, and palaces of your dreams</em></p>
     <a class="btn-primary" href="#">Find your chateau</a>
  </div>
</div>
<br>
