
<div class="Homebanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'https://images.unsplash.com/photo-1514539079130-25950c84af65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80' %>);">
  <div class="container-home">
    <div class="home-headings">
      <h1>Live like Royalty</h1>
      <p><em>The castles, mansions, and palaces of your dreams</em></p>
    </div>
    <div class="find-button">
      <%= link_to 'find your chateau', castles_path(@castles), class: "CastleButton" %>
    </div>
  </div>
</div>
