.btn-pink {
  padding: 8px 24px;
  border-radius: 22px;
  color: white;
  background-color: $main-pink;
  border-style: none;
}

.btn-devise:hover {
  transition-property: all;
  transition-duration: 0.2s;
  background-color: $lighter-pink;
  color: white;
}

.btn-edit {
  color: $main-pink;
  font-family: 'Righteous', sans-serif;
  position: absolute;
  bottom: 16px;
  left: 32px;
}
