<h2 class="text-align-center">Bookings for <%= @castle.name %> </h2>

<% @bookings.each do |booking| %>
  <div class="card-castle-booking">
    <p>Booked by: <%= booking.user.email %></p>
    <p>Check-in: <%= booking.check_in_date %></p>
    <p>Check-out: <%= booking.check_out_date %></p>
  </div>

<% end %>
